body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

section, .card, footer
 {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #b0b0b0;
}

.imagen_filamento {
    width: 30%;
}
.imagen_contacto {
    width: 5%;
}
.imagen_equipo, .imagen_historia, .imagen_productos {
    width: 30%;
    border-radius: 8px;
}

#gradienteNuestrosProductos {
    background: linear-gradient(#c2c2c2, rgba(255, 255, 255, 0) 100%);
}

.barra_navegacion:hover {
    color: #ffe032;
}

.imagen_historia:hover, .imagen_equipo:hover, .imagen_productos:hover {
    transform: scale(1.05);
    transition: transform 0.3s cubic-bezier(.17,.67,.83,.67);
}

body::selection {
    background-color: #ffe032;
    color: #fff;
}

.card-animation {
    transition: transform 0.3s cubic-bezier(.17,.67,.83,.67);
}

.card-animation:hover {
    transform: scale(1.02);
}