body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    background-image: url('https://img.freepik.com/vector-premium/fondo-vector-confeti-gris-abstracto_88343-1536.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #343a40;
    
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

section, .card, footer {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #b0b0b0;
}

.imagen_filamento {
    width: 30%;
}

.seccion_alta_calidad {
    background: #ededed;
    padding: 20px;
    font-family: sans-serif;
    border-left: 5px solid #999;
}

.seccion_alta_calidad h2 {
    margin: 0;
    font-weight: 100;
}

.seccion_alta_calidad p {
    color: #555;
    text-align: justify;
}

.barra_navegacion:hover {
    color: #b8b642;
}