.formulario {
    background: rgb(230, 66, 66);
    padding: 30px;
}

.formulario_input {
    padding: 6px 10px;
    width: 100%;
    margin: 10px;
}

.formulario_submit {
    padding: 10px 20px;
    background: rgb(149, 149, 202);
    color: white;
    border: none;
    cursor: pointer;
}